<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0; 
            box-sizing: border-box;
        }
        body {
            width: 100%;
            height: 100vh;
            background-color: rgb(48, 48, 48);
        }
        .body {
            width: 100%;
            height: 100vh;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: stretch;
            background-color: rgba(48, 48, 48, 0.404);
            backdrop-filter: blur(8px);
            color: rgb(143, 143, 143);
        }
        .header-container {
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 3rem;
            background-color: rgb(20, 20, 20);
            border-bottom: 1px solid rgba(223, 223, 127, 0.637);
        }
        .header-title {
            font-style: monospace;
        }
        .main-container {
            width: 80%;
            min-height: 85vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: max-content;
            margin: auto;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

        }
        .bg-stub__title {
            font-size: 10rem;
            rotate: -10deg;
            color: rgb(182, 182, 157);
            font-style: monospace;
        }
        .bg-stub {
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0,0,0,0);
            z-index: -1;
        }
    </style>
</head>

{{-- Основная страница --}}

<body>
    <div class="body">
        <header class="header-container">
            <h1 class="header-title">Messanger API</h1>
        </header>
        
        <main class="main-container">
            @!component('components/requestsBlock', { title: 'Authenticate' })

        </main>
    
    
    </div>
    <div class="bg-stub">
        <h1 class="bg-stub__title">Messanger API</h1>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script>
    console.log('Hello ебучий уебок я тебя ненавижу блять урод', gsap)
</script>

</html